.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boxContent{
  background-color: #61dafb;
  margin-left: 1rem;
  border-radius: 1rem;
  padding: 1rem 1rem;
  box-shadow: -0.7rem 2rem 1rem 1rem rgba(0, 0, 0, 0.47);
}

.box{
  background-color: #7464fb !important;
  box-shadow: -0.7rem 2rem 1rem 1rem rgba(0, 0, 0, 0.47);
  display: inline-block;
  border-radius: 1rem;
  margin-top: 2rem;
  color: white;
  padding: 3rem 5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;

}

.judul{
  font-size: 2rem;
  color: white;
}

#root{
  background-color: #2e2861 !important;
}
